#actions-wrapper {
    width: 250px;
    padding: 17px;
    font-size: 13px;
  }

.buttons {
    cursor: pointer;
    color: #000;
    margin-bottom: 10px;
    line-height: 23px;
}

.buttons:hover {
color: #666;
}

.hide{
    display: none;
}

#more{
    vertical-align: middle;
    margin-bottom: 1px;
}

.settings{
    padding: 9px 10px;
    background-color: #d2d1d1;
    margin-bottom: 12px;
}