h1{
    padding: 5px;
}
.table #tbody td{
    vertical-align: middle;
    border-right: 1px solid #e2e2e2;
    text-align: center;
}

.table{
    font-size: 14px;
}

#selection{
    font-size: 31px;
    font-weight: bold;
    cursor: pointer;
}

.hglt-selected-text{
    color: red;
}

#image img{
    max-height: 230px;
    max-width: 519px;
}

.content-wrapper{
    height: 233px;
    overflow: auto;
}

span svg{
    display: inline;
    vertical-align: middle;
    margin-left: 13px;
}

.card-position{
    margin-top: 10px;
}