#hglt{
    position: fixed;
    background-color: white;
    box-shadow: 3px 3px 4px #AAA;
    padding: 6px;
    overflow: auto;
    max-height: 300px;
    font-size: 14px;    
    border: 1px solid #e4e4e4;
    color: #545454;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    /* min-height: 171px; */
    top:-1000px;
    left: -1000px;
    width: auto;
}

.hglt-divisor{
    color: #dcdcdc;
    background-color: #dcdcdc;
    border: 0;
    height: 1px;
    margin: 0 4px;
}


.hglt-translation-arrow.hglt-left-arrow{
float: left;
}

.hglt-translation-arrow.hglt-right-arrow{
  float: right;
}

#hglt-translation{
    margin: 5px 0;
    font-size: 15px;
    font-weight: bold;
    transition: all 100ms ease-in-out;
    height: 22px;
}

#hglt-translation-word{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 257px;
  display: block;
  float: left;
  text-align: center;
  padding: 0 10px;
}

#hglt-meanings{
    margin: 5px 0;
    width: 295px;
    height: 16px;
}

#hglt-meaning-definition{
    font-style: italic;
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    display: block;
    float: left;
    width: 263px;
    padding: 0 7px;
}

#hglt-image-wrapper{
    margin: 5px 0;
    min-height: 122px;

    background-image: radial-gradient(rgba(88, 88, 88, 0.05), rgba(208, 208, 208, 0.05) 45%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 95%);
    background-size: 5px 5px;
}

#hglt-image{
    /* max-height: 122px;
    max-width: 122px; */
    max-height: 150px;
    max-width: 150px;
    transition: all 100ms ease-in-out;
    box-shadow: 1px 1px 7px -2px;
    user-select: none;
}

#hglt-add-store{
    margin-top: 8px;
    cursor: pointer;
}

#hglt-add-store:hover{
    color:#000;
}

#hglt-word-selected{
    font-style: italic;
    font-weight: bold;    

    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    max-width: 170px;
    margin-bottom: -4px;
    color: #2c2ca0;
}

.hglt-arrow{  
    color: #dcdcdc;
    user-select: none;
}

.hglt-arrow-hover{
color: rgb(172, 119, 119);
}

.hglt-images-arrow{
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 11px;
  line-height: 20px;
}

/* .hglt-arrow:hover{
    color: #545454;
    text-shadow: 3px 1px 5px;
} */

.hglt-left-arrow{
    display: block;
    float: left;
}

.hglt-right-arrow{
    display: block;
    float: right;
}










.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #c1c0c0;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
  