label{
    min-width: 159px;
    margin-bottom: 0px;
}
hr{
    margin: 6px;
}
select{
    background-color: #FFF;
    color: #5d5d5d;
}
#definition-checkbox-label-in{
    margin: 0px 13px;
}
#actions-wrapper {
    width: 326px;
    padding: 17px;
    font-size: 15px;
  }

.buttons {
    cursor: pointer;
    color: #5d5d5d;
    margin-bottom: 10px;
    line-height: 24px;
}

.buttons:hover {
color: #666;
}

.hide{
    display: none;
}

.more{
    vertical-align: middle;
    margin-bottom: 1px;
}

.settings{
    padding: 9px 10px;
    background-color: #f3f3f3;
    margin-bottom: 12px;
    border-radius: 5px;
    color: #5d5d5d;
    font-size: 13px;
}

.settings div{
    padding: 5px;
}

input{
    vertical-align: middle;
}

#definition-checkbox-label-in{
    display: none;
}

#definition-target{
    display: none;
}

.custom-control-input:checked~.custom-control-label::before {
background-color: #4e87e2;
border-color: #4e87e2;
}

.study-stored-wrapper{
    font-size: 13px;
}

.study-stored-wrapper img{
    float: left;
    margin-right: 5px;
}

.study-stored-wrapper .buttons{
    color: #828282 !important;
}

.study-stored-wrapper .buttons:hover{
    color:#565656  !important;
}

.study-stored-badge{
    position: relative;
    top: -21px;
    display: none;
    width: 14px;
    height: 14px;
    line-height: 14px;
    padding: 0px;
}
.markers{
    font-size: 12px;
    color: #666;
}
.marked-sites{
    white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
   font-size: 12px;
}  
.marked-sites a{
    color: #666;
} 
.markers-remove{
    cursor: pointer;
    font-size: 14px;
    vertical-align: sub;
}
.help{
    font-size: 16px;
    vertical-align: middle;
}

#donate-wrapper{
    text-align: center;
    font-size: 12px;
}

#donate-wrapper button{
    background-color: #FFF;
    border: 1px solid #ded3d3;
    border-radius: 5px;
    color: #868686;
}