label{
    min-width: 98px;
}
hr{
    margin: 10px;
}
select{
    background-color: #FFF;
    color: #5d5d5d;
}
#definition-checkbox-label-in{
    margin: 0px 13px;
}
#actions-wrapper {
    width: 326px;
    padding: 17px;
    font-size: 15px;
  }

.buttons {
    cursor: pointer;
    color: #5d5d5d;
    margin-bottom: 10px;
    line-height: 24px;
}

.buttons:hover {
color: #666;
}

.hide{
    display: none;
}

#more{
    vertical-align: middle;
    margin-bottom: 1px;
}

.settings{
    padding: 9px 10px;
    background-color: #f3f3f3;
    margin-bottom: 12px;
    border-radius: 5px;
    color: #5d5d5d;
}

.settings div{
    padding: 5px;
}

input{
    vertical-align: middle;
}

#definition-checkbox-label-in{
    display: none;
}

#definition-target{
    display: none;
}

.custom-control-input:checked~.custom-control-label::before {
background-color: #4e87e2;
border-color: #4e87e2;
}

.study-stored-wrapper{
    font-size: 13px;
}

.study-stored-wrapper img{
    float: left;
    margin-right: 5px;
}

.study-stored-wrapper .buttons{
    color: #969696 !important;
}

.study-stored-wrapper .buttons:hover{
    color:#565656  !important;
}
