#actions-wrapper {
    width: 250px;
    padding: 17px;
    font-size: 13px;
  }

.buttons {
    cursor: pointer;
    color: #5d5d5d;
    margin-bottom: 10px;
    line-height: 24px;
}

.buttons:hover {
color: #666;
}

.hide{
    display: none;
}

#more{
    vertical-align: middle;
    margin-bottom: 1px;
}

.settings{
    padding: 9px 10px;
    background-color: #e8e8e8;
    margin-bottom: 12px;
    border-radius: 3px;
}

.settings div{
    padding: 5px;
}

input{
    vertical-align: middle;
}